input.positive {
    color: #63B500;
}

input.negative {
    color: #E10030;
}

label:after {
    content: ": ";
}

.ui-radio label:after {
    content: "";
}

table {
    width: 100%;
}

table th,
table td {
    padding: 6px;
}

table th,
table th label,
table th label.ui-slider {
    font-weight: bold;
}

table thead th {
    text-align: center;
}

table tbody th {
    text-align: right;
}

table td.nowrap {
    white-space: nowrap;
}

table td input.ui-input-text {
    width: 95%;
}

table td input.ui-input-text.ui-slider-input {
    width: 50px;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

* html .clearfix {
	height: 1%;
}
